 <!-- ======= Footer ======= -->
 <footer id="footer">
  <div class="footer-top">
      <div class="container-fluid">
          <div class="row justify-content-center">
              <div class="col-xl-10">
                  <div class="row">

                      <div class="col-lg-3 col-md-12 footer-links">
                          <h4>Links</h4>
                          <ul>
                              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
                              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
                              <li><i class="bx bx-chevron-right"></i> <a href="terms.html">Terms Of Use</a></li>
                              <li><i class="bx bx-chevron-right"></i> <a href="privacy.html">Privacy Policy</a></li>
                          </ul>
                      </div>

                      <div class="col-lg-9 col-md-12 footer-info">
                          <h3>Disclosure</h3>
                          <p>The performance data quoted represents past performance. Past performance is a guarantee of future results. The Stratagy used here as significantly given a positive long-term performance boost even in the stock stock market volatility associated with the COVID-19 pandemic. Investment return and principal value is stable so as an investor's shares upon redemption is worth more than their original cost.</p>
                          <p>
                              We provide guarantees, success and track record in the asset management and investments market.Take control with our all-in-one multiple investment packages such as Forex PAMM/MAM investment package, Cryptocurrency, Real estate (property) investments and more.
                          </p>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="container">
      <div class="copyright">
          &copy; Copyright <strong>Citicryptopurse</strong>. All Rights Reserved
      </div>
  </div>
</footer><!-- End Footer -->
<div class="toast" id="snackbar">
  <div id="toast-header">
      Withdrawal Alert
  </div>
  <div id="toast-body">
      <span id="nameT">Ricky rex from Sweden</span> just made a successful withdrawal of <span id="amountT">$35,670</span>
  </div>
</div>

<div id="preloader"></div>
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/venobox/venobox.min.js"></script>
<script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="assets/vendor/counterup/counterup.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="en/script/toast.js" type="text/javascript"></script>

<script src="../code.tidio.co_443/ysoaoqfizarvwjskukbsitbr2en4w2iv.js" async></script>

<script>
  function myAlert() {
      alert("All Deposits/Payments should be made directly to the Company account.\nKindly disregard all emails except from support@citicryptopurse.com.\nNo Deposits/Payments should be made to any Account Manager or referral for No Reason at all.\nThe Company will not be responsible for any loss that comes with making Payments to any Account manager or Referral.\nThank you for your understanding and cooperation\nTeam Citicryptopurse");
  }

</script>

<script>
  var nameT = ["Someone from Sweden", "Someone from Peru", "Someone from Indonesian", "Someone from Ghana", "Someone from South Africa", "Someone from U.k", "Someone from India", "Someone from USA", "Someone from USA", "Someone from scotland󠁧󠁢󠁳󠁣󠁴󠁿 ", "Someone from Hungary", "Someone from Mexico", "Someone from italy", "Someone from portugal", "Someone from Hungary", "Someone from USA", "Someone from Wales", "Someone from USA", "Someone from Canada", "Someone from Australia", "Someone from USA", "Someone from  France", "Someone from spain", "Someone from USA"];
  var amountT = ["$35,670", "$15,600", "$8,500", "$6,450", "$10,650", "$55,000", "$25,790", "$250,700", "$405,685", "$67,800", "$45,000", "$34,000", "$105,000", "$56,000", "$25,600", "2.5BTC", "10.5BTC", "5BTC", "0.0075683BTC", "$35,000", "3.023BTC", "$55,000", "10BTC", "1.0054BTC", "3BTC"]
  handleToast = setInterval(function() {
      i = Math.floor(Math.random() * 24);
      document.getElementById('nameT').innerHTML = nameT[i];
      document.getElementById('amountT').innerHTML = amountT[i];
      myToast();
  }, 10000);

</script>

<script type="text/javascript">
  function googleTranslateElementInit() {
      new google.translate.TranslateElement({
          pageLanguage: 'en'
      }, 'google_translate_element');
  }

</script>
<script type="text/javascript" src="../translate.google.com/translate_a/elementa0d8.js?cb=googleTranslateElementInit"></script>
<p></p>    <!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            telegram: "Citicrypto_purse", // WhatsApp number
            call_to_action: "Message us", // Call to action
            position: "left", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>

<script src="//code.jivosite.com/widget/NY0jSWSZtu" async></script>


</body>


<!-- Mirrored from citicryptopurse.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Aug 2024 10:21:20 GMT -->
</html>
