<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from citicryptopurse.com/crypto-trading by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Aug 2024 10:21:46 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Cryptocurrency Trading | Citicryptopurse</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/css/signup_style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&amp;display=swap" rel="stylesheet">
    <style>
        .yuwj8jwkk2ikwlw .in-button-app img {
            width: 100px;
            height: 100px;
        }

    </style>


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top bg-dark">
        <div class="container-fluid ">

            <div class="row justify-content-center">
                <div class="col-xl-10 d-flex align-items-center justify-content-end">

                    <a href="/" class="logo mr-auto"><img src="assets/img/logo.png" style="width:150px; height:50px;" alt="" class="img-fluid"></a>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/#about">About</a></li>
                            <li><a href="login">Login</a></li>
                            <li><a href="signup">Signup</a></li>
                            <li><a href="/#services">Services</a></li>
                            <li class="drop-down"><a href="#">Markets</a>
                                <ul>
                                    <li><a href="/forex">Forex</a></li>
                                    <li><a href="/stocks">Stocks</a></li>
                                    <li><a href="/crypto-trading">Cryptocurrency</a></li>
                                </ul>
                            </li>
                            <li><a href="/copy-trader">Copy Trading</a></li>
                            <li><a href="#contact">Contact</a></li>

                        </ul>
                    </nav>
                    <!-- .nav-menu -->

                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->
    <div class="d-flex flex-column align-items-end px-3 d-inline-block d-md-none" style="position: fixed;top: 58px;right: 20px;z-index: 997;/* width: 100%; */padding: 20px;">
        <a href="signup.html" class="btn btn-info w-100 mb-2">Create Account</a>
        <a href="login.html" class="btn btn-outline-success w-100">Login Now</a>
    </div>
    <main id="main">
        <section class="inner-page">
            <div class="container-fluid">

                <section id="faq" class="faq">
                    <div class="container">

                        <div class="section-title" data-aos="fade-up">
                            <h2>CRYPTO TRADING</h2>
                        </div>

                        <p class="">
                            For the first time in history, value can be sent anywhere in the world at the same speed as information, in a secure and trust-minimized way. A departure from conventional economic, political, and social systems run by a handful of large centralized institutions, digital currencies are powered by millions of peers within a globally distributed network, democratizing information and value in incredible new ways. Several digital currencies, each with unique comparative advantages, may radically transform legacy systems across nations and industries around the world, driving future economic growth and becoming more valuable as the keys to our digital, global economy.

                        </p>



                        <p>
                            At Equitystocktrade, we believe investors deserve an established, trusted, and accountable partner that can help them navigate digital currency investing. That’s why we are building transparent, familiar investment products that facilitate access to this burgeoning asset class, and provide the springboard to investing in the new digital currency-powered “internet of money.”
                        </p>

                        <section class="">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-6"> <img alt="" style="width: 100% !important"
                                                                src="img/1605-trading-750x500.jpg.webp"> </div>
                                    <div class="col-lg-6">
                                        <div class="heading-text heading-section mt-1">
                                            <h4 style="font-size: 19px; line-height: 30px;" class="font-weight-bold text-primary">The first
                                                publicly-quoted* Bitcoin
                                                investment vehicle and the first digital currency investment vehicle to attain the
                                                status of an SEC reporting company</h4>
                                            <p style="font-size: 15px; font-weight: 400;margin-bottom: 10px;"> Equitystocktrade                                is solely and passively invested in Bitcoin, enabling investors to gain exposure to BTC
                                                in the form of a security while avoiding the challenges of buying, storing, and
                                                safekeeping BTC directly.

                                                <br><br>
                                                Equitystocktrade’s assets are stored in offline or “cold” storage with Coinbase
                                                Custody Trust Company, LLC, as Custodian. The Custodian is a fiduciary under § 100 of
                                                the New York Banking Law and a qualified custodian for purposes of Rule 206(4)-2(d)(6)
                                                under the Investment Advisers Act of 1940, as amended.
                                            </p>
                                            <a class="btn btn-info" href="register.html"><i class="fa fa-user"></i> Open
                                                an account</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <section style="padding-bottom: 60px !important;">
                            <div class="container">
                                <div class="section-title">
                                    <h3>Our <span>Investors</span></h3>
                                </div>
                                <div class="row client-logos carousel-description-clients carousel-description-style ">
                                    <div class="col-lg-12">
                                        <div class="description">
                                            <h2 class="tup" style="font-size: 15px !important;">$562.9bn+ under management on behalf of
                                                our
                                                world leading
                                                investors</h2> <span style="font-size: 15px !important;">
                                            Today, we manage a total of £455.6bn (€501.2bn/$562.9bn) of assets on behalf of
                                            governments, pension funds, insurers, companies, charities, foundations and individuals
                                            across 80 countries (as at 30 June 2013).
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </div>


        </section>

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="row">

                            <div class="col-lg-3 col-md-12 footer-links">
                                <h4>Links</h4>
                                <ul>
                                    <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="index.html#about">About us</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="index.html#services">Services</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="terms.html">Terms Of Use</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="privacy.html">Privacy Policy</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-9 col-md-12 footer-info">
                                <h3>Disclosure</h3>
                                <p>The performance data quoted represents past performance. Past performance is a guarantee of future results. The Stratagy used here as significantly given a positive long-term performance boost even in the stock stock market volatility associated with the COVID-19 pandemic. Investment return and principal value is stable so as an investor's shares upon redemption is worth more than their original cost.</p>
                                <p>
                                    We provide guarantees, success and track record in the asset management and investments market.Take control with our all-in-one multiple investment packages such as Forex PAMM/MAM investment package, Cryptocurrency, Real estate (property) investments and more.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Citicryptopurse</strong>. All Rights Reserved
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>




    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/counterup/counterup.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>



    <script>
        $('.venobox_custom').venobox({
            framewidth: '500px', // default: ''
            frameheight: '200px', // default: ''
            border: '5px', // default: '0'
            //bgcolor    : '#fff',                             // default: '#fff'
            numeratio: true, // default: false
            infinigall: true, // default: false
            share: ['facebook', 'twitter', 'download'] // default: []
        });

        $(document).on('click', '.closeme', function() {
            $('.vbox-close').trigger('click');
        });

    </script>

    <!-- <script src="../code.tidio.co_443/ysoaoqfizarvwjskukbsitbr2en4w2iv.js" async></script> -->


</body>


<!-- Mirrored from citicryptopurse.com/crypto-trading by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Aug 2024 10:21:47 GMT -->
</html>
