
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from citicryptopurse.com/faq by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Aug 2024 10:21:43 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Frequently Asked Questions Citicryptopurse</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/css/signup_style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&amp;display=swap" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top bg-dark">
        <div class="container-fluid ">

            <div class="row justify-content-center">
                <div class="col-xl-10 d-flex align-items-center justify-content-end">

                    <a href="/" class="logo mr-auto"><img src="assets/img/logo.png" style="width:150px; height:50px;" alt="" class="img-fluid"></a>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/#about">About</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Signup</a></li>
                            <li><a href="#services">Services</a></li>
                            <li class="drop-down"><a href="#">Markets</a>
                                <ul>
                                    <li><a href="/forex">Forex</a></li>
                                    <li><a href="/stocks">Stocks</a></li>
                                    <li><a href="/crypto-trading">Cryptocurrency</a></li>
                                </ul>
                            </li>
                            <li><a href="/copy-trader">Copy Trading</a></li>
                            <li><a href="/#contact">Contact</a></li>

                        </ul>
                    </nav>
                    <!-- .nav-menu -->

                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <main id="main">
        <section class="inner-page">
            <div class="container-fluid">

                <section id="faq" class="faq">
                    <div class="container">

                        <div class="section-title" data-aos="fade-up">
                            <h2>Frequently Asked Questions</h2>
                        </div>

                        <ul class="faq-list list-unstyled">

                            <li data-aos="fade-up">
                                <a data-toggle="collapse" class="" href="#faq1">How do I become a member? <i class="icofont-simple-up"></i></a>
                                <div id="faq1" class="collapse show" data-parent=".faq-list">
                                    <p>
                                        This can be done quickly and easily. Click the Registration button and fill out a simple form, after which a welcome email will be sent to your e-mail address. Using the registration data, log in to your Member's Area, where you can carry out all activities related to management of your account.
                                    </p>
                                </div>
                            </li>

                            <li data-aos="fade-up" data-aos-delay="500">
                                <a data-toggle="collapse" href="#faq16" class="collapsed">What am I invested in? <i class="icofont-simple-up"></i></a>
                                <div id="faq16" class="collapse" data-parent=".faq-list">
                                    <p>
                                        Your Citicryptopurse account is invested in the Gotham Enhanced S&amp;P 500 Index Fund (GSPFX), a mutual fund that buys all 500 stocks in the S&amp;P 500 Index but reweights them, buying more of the ones we think are cheaper and less of the ones we believe are more expensive.
                                    </p>
                                </div>
                            </li>

                            <li data-aos="fade-up" data-aos-delay="100">
                                <a data-toggle="collapse" href="#faq2" class="collapsed">Do I need to deposit right away? <i class="icofont-simple-up"></i></a>
                                <div id="faq2" class="collapse" data-parent=".faq-list">
                                    <p>
                                        Yes you need to make a deposit before trading. We do not offer a demo account for traders.
                                    </p>
                                </div>
                            </li>

                            <li data-aos="fade-up" data-aos-delay="200">
                                <a data-toggle="collapse" href="#faq3" class="collapsed">Do I need to download any software to trade? <i class="icofont-simple-up"></i></a>
                                <div id="faq3" class="collapse" data-parent=".faq-list">
                                    <p>
                                        Trading is carried out on the web-platform. The downloading of additional software is not necessary.
                                    </p>
                                </div>
                            </li>

                            <li data-aos="fade-up" data-aos-delay="300">
                                <a data-toggle="collapse" href="#faq4" class="collapsed">At what age is trading permitted? <i class="icofont-simple-up"></i></a>
                                <div id="faq4" class="collapse" data-parent=".faq-list">
                                    <p>
                                        You must be 18 years old or older to sign up and trade on the platform.
                                    </p>
                                </div>
                            </li>

                            <li data-aos="fade-up" data-aos-delay="400">
                                <a data-toggle="collapse" href="#faq5" class="collapsed">Which currency can be used for trading? <i class="icofont-simple-up"></i></a>
                                <div id="faq5" class="collapse" data-parent=".faq-list">
                                    <p>
                                        We only offer USD for trading.
                                    </p>
                                </div>
                            </li>

                            <li data-aos="fade-up" data-aos-delay="500">
                                <a data-toggle="collapse" href="#faq6" class="collapsed">How can I deposit funds into my trading account? <i class="icofont-simple-up"></i></a>
                                <div id="faq6" class="collapse" data-parent=".faq-list">
                                    <p>
                                        Funding your account is fast, easy and secure; you can find your account with Bitcoin, Ethereum, Master Card, Western Union, Skrill, Bank Transfer and Perfect money.
                                    </p>
                                </div>
                            </li>

                            <li data-aos="fade-up" data-aos-delay="500">
                                <a data-toggle="collapse" href="#faq7" class="collapsed">How quickly will funds be added into my account? <i class="icofont-simple-up"></i></a>
                                <div id="faq7" class="collapse" data-parent=".faq-list">
                                    <p>
                                        Your funds will be available for trading immediately your deposit is confirmed on our payment systems.
                                    </p>
                                </div>
                            </li>

                            <!--<li data-aos="fade-up" data-aos-delay="500">
            <a data-toggle="collapse" href="#faq8" class="collapsed">Can I see history of all my transactions? <i class="icofont-simple-up"></i></a>
            <div id="faq8" class="collapse" data-parent=".faq-list">
              <p>
                Information on all your transactions is located on your Account page/Dashboard.
              </p>
            </div>
          </li>-->

                            <li data-aos="fade-up" data-aos-delay="500">
                                <a data-toggle="collapse" href="#faq9" class="collapsed">Which currencies does Citicryptopurse accept? <i class="icofont-simple-up"></i></a>
                                <div id="faq9" class="collapse" data-parent=".faq-list">
                                    <p>
                                        Citicryptopurse accepts and converts all currencies to USD
                                    </p>
                                </div>
                            </li>

                            <li data-aos="fade-up" data-aos-delay="500">
                                <a data-toggle="collapse" href="#faq10" class="collapsed">What are conditions for withdrawals? <i class="icofont-simple-up"></i></a>
                                <div id="faq10" class="collapse" data-parent=".faq-list">
                                    <p>
                                        After making a withdrawal request you will be contacted on steps to follow accordingly.
                                    </p>
                                </div>
                            </li>

                            <li data-aos="fade-up" data-aos-delay="500">
                                <a data-toggle="collapse" href="#faq11" class="collapsed">What payment methods are available for withdrawal? <i class="icofont-simple-up"></i></a>
                                <div id="faq11" class="collapse" data-parent=".faq-list">
                                    <p>
                                        All withdrawals can be processed with any of the available deposit methods.
                                    </p>
                                </div>
                            </li>

                            <li data-aos="fade-up" data-aos-delay="500">
                                <a data-toggle="collapse" href="#faq12" class="collapsed">How fast will I receive my funds? <i class="icofont-simple-up"></i></a>
                                <div id="faq12" class="collapse" data-parent=".faq-list">
                                    <p>
                                        Withdrawal will be processed as soon as all documents required for withdrawal have been verified by Citicryptopurse. Citicryptopurse will notify you via email as soon as funds have been processed. It is then left for you to wait to receive the funds by the payment method you selected earlier.s
                                    </p>
                                </div>
                            </li>

                            <li data-aos="fade-up" data-aos-delay="500">
                                <a data-toggle="collapse" href="#faq13" class="collapsed">Do I need to provide any document for withdrawal? <i class="icofont-simple-up"></i></a>
                                <div id="faq13" class="collapse" data-parent=".faq-list">
                                    <p>
                                        The security team has the right to request a scanned image or digital photo of the first page of a valid ID card, as well as additional documentation (a photo of a credit card, a photo of you holding your passport open at the photo page, a screenshot of your electronic wallet) to make sure that the account details and documentation belong to the person requesting the withdrawal.
                                    </p>
                                </div>
                            </li>

                            <li data-aos="fade-up" data-aos-delay="500">
                                <a data-toggle="collapse" href="#faq14" class="collapsed">Can I withdraw from my account money that I deposited before trading? <i class="icofont-simple-up"></i></a>
                                <div id="faq14" class="collapse" data-parent=".faq-list">
                                    <p>
                                        Yes, this is possible. However, you will be charged a small fee.
                                    </p>
                                </div>
                            </li>

                            <li data-aos="fade-up" data-aos-delay="500">
                                <a data-toggle="collapse" href="#faq15" class="collapsed">I have a question that is not here? <i class="icofont-simple-up"></i></a>
                                <div id="faq15" class="collapse" data-parent=".faq-list">
                                    <p>
                                        You can use the contact form on the homepage of this website to send us a message or email us directly at support@citicryptopurse.com
                                    </p>
                                </div>
                            </li>

                        </ul>

                    </div>
                </section>
            </div>


        </section>

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="row">

                            <div class="col-lg-3 col-md-12 footer-links">
                                <h4>Links</h4>
                                <ul>
                                    <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="/#about">About us</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="/#services">Services</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="/terms">Terms Of Use</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="/privacy">Privacy Policy</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-9 col-md-12 footer-info">
                                <h3>Disclosure</h3>
                                <p>The performance data quoted represents past performance. Past performance is a guarantee of future results. The Stratagy used here as significantly given a positive long-term performance boost even in the stock stock market volatility associated with the COVID-19 pandemic. Investment return and principal value is stable so as an investor's shares upon redemption is worth more than their original cost.</p>
                                <p>
                                    We provide guarantees, success and track record in the asset management and investments market.Take control with our all-in-one multiple investment packages such as Forex PAMM/MAM investment package, Cryptocurrency, Real estate (property) investments and more.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Citicryptopurse</strong>. All Rights Reserved
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>




    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/counterup/counterup.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>



    <script>
        $('.venobox_custom').venobox({
            framewidth: '500px', // default: ''
            frameheight: '200px', // default: ''
            border: '5px', // default: '0'
            //bgcolor    : '#fff',                             // default: '#fff'
            numeratio: true, // default: false
            infinigall: true, // default: false
            share: ['facebook', 'twitter', 'download'] // default: []
        });

        $(document).on('click', '.closeme', function() {
            $('.vbox-close').trigger('click');
        });

    </script>

    <!-- <script src="../code.tidio.co_443/ysoaoqfizarvwjskukbsitbr2en4w2iv.js" async></script> -->


</body>


<!-- Mirrored from citicryptopurse.com/faq by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Aug 2024 10:21:43 GMT -->
</html>
