
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from citicryptopurse.com/forex by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Aug 2024 10:21:43 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>FOREX/PAMM &amp; MAM Account | Citicryptopurse</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&amp;display=swap" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top bg-dark">
        <div class="container-fluid ">

            <div class="row justify-content-center">
                <div class="col-xl-10 d-flex align-items-center justify-content-end">

                    <a href="/" class="logo mr-auto"><img src="assets/img/logo.png" style="width:150px; height:50px;" alt="" class="img-fluid"></a>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/#about">About</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Signup</a></li>
                            <li><a href="/#services">Services</a></li>
                            <li class="drop-down"><a href="#">Markets</a>
                                <ul>
                                    <li><a href="/forex">Forex</a></li>
                                    <li><a href="/stocks">Stocks</a></li>
                                    <li><a href="/crypto-trading">Cryptocurrency</a></li>
                                </ul>
                            </li>
                            <li><a href="copy-trader">Copy Trading</a></li>
                            <li><a href="/#contact">Contact</a></li>

                        </ul>
                    </nav>
                    <!-- .nav-menu -->

                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->
    <div class="d-flex flex-column align-items-end px-3 d-inline-block d-md-none" style="position: fixed;top: 58px;right: 20px;z-index: 997;/* width: 100%; */padding: 20px;">
        <a href="/register" class="btn btn-info w-100 mb-2">Create Account</a>
        <a href="/login" class="btn btn-outline-success w-100">Login Now</a>
    </div>
    <main id="main">
        <section class="inner-page">
            <div class="container-fluid">

                <section>
                    <div class="container">

                        <div class="section-title" data-aos="fade-up">
                            <h2>FOREX</h2>
                            <p>PAMM AND MAM ACCOUNT</p>
                        </div>

                        <p class="">
                            Forex market (short for “foreign exchange”) is the largest and the most liquid financial market where the global currencies are traded. Forex traders purchase currencies with the intent to make money off of the difference between the buying and the selling prices. The foreign exchange market, also known as FX or Forex trading, is one the most fast paced, dynamic markets in the world. Traditionally, huge global financial institutions, central banks, hedge funds, and the super-rich dominated the Forex trading market. <br> <br>

                            All of this changed with the arrival of the internet. Now there are no barriers preventing anyone from Forex trading. It is completely accessible to most investors, and you can buy and sell international currencies at the click of a mouse from your own home. Currency is similar to language, in that it varies from country to country. If you want to do international business or buy goods from abroad, you must pay with the local currency.
                            The FOREX investment package is a unique product that allows investors to earn without
                            having
                            to
                            actually trade Forex themselves.
                            For instance, you wouldn’t expect to use Swiss Francs to pay for your meal in Marrakech, which is exactly where Forex trading comes in. Global currencies are traded on the foreign exchange market. Comparing this market to the stock market is one way to grasp the sheer scale of it; the average traded value of the global stock market is around $2,000 billion per day, while Forex trading surpasses $4.9 trillion daily. Unlike some other markets, this is no central market for Forex trading. Currency trading is all done over the counter electronically on global computer networks between individual traders. There are five major Forex trading centers: Frankfurt, Hong Kong, London, New York and Tokyo. The Forex market is open 24 hours a day, five and a half days a week, and operates across nearly every time zone, which makes for an active market in a continual state of flux, with prices changing all the time. When currencies are traded on the Forex market, they are bought and sold in what are known as currency pairs, where one currency is used to buy another. These pairs have been created to make comparing currencies easier, and as a way to better understand the value of one in relation to the other. The EUR/USD pairing is among the most popular. In currency pairs, the first currency is the base and the second currency is referred to as the counter currency. So in the previous example, you are using USD to buy EUR. Your broker converts your existing currency into USD, and then uses that to buy EUR. When buying a currency pairing, you take what is known as a ‘long position’, and when selling you take a ‘short position’. It is vital that you have a good understanding of the current climate of your chosen currency market. If you believe people are going to sell bitcoin, for example, then this will bring the price down in relation to the EUR. We provide regularly updated information on many popular pairings, and we include the popular Bitcoin cryptocurrency in our currency index. The majority of Forex traders focus on the following currency pairs: EUR/USD, USD/JPY, GBP/USD, and USD/CHF are the main four, followed by USD/CAD, AUD/USD and NZD/USD. All other pairs are just different combinations of the same currencies. .
                            You can invest in the Forex investment pacakge, Citicryptopurse will
                            receive a percentage of the
                            profits they earn from trading with your funds as a commission.

                        </p>



                        <p>The FOREX service has been one of the most in-demand financial instruments in 2013 with a
                            turnover of over $92Bn during the first nine months of the year. Citicryptopurse continues to
                            improve and refine the service, striving to make it as transparent and understandable as
                            possible for customers. As part of the next stage of operations, the FOREX account
                            rating formula has been upgraded.
                        </p>

                        <p>The method used to calculate the growth rate for a specific period has been updated in
                            order to exclude being placed in the top rating of FOREX accounts that have not been
                            traded for a long time. Now, the final calculation of positive growth for a specific
                            period will not include data for the most recent period:</p>

                        <ul>
                            <li>An annual calculation will not include the last quarter</li>
                            <li>A six-month or quarterly calculation will not include the last month</li>
                            <li>A monthly calculation will not include the last week</li>
                        </ul>

                        <p class="mb-4">Please be advised that calculations using the updated rating formula will begin on the
                            28<sup>th</sup> of October at 13:00 (GMT+3). You are kindly requested to take this
                            information into account when planning your trading and investment activity.</p>

                        <div class="mt-4">
                            <div class="section-title">
                                <h3>For <span>Investors</span></h3>
                            </div>

                            <div class="row mt-4">
                                <div class="col-lg-4 pt-2 p-2">
                                    <div class="icon-box border p-2">
                                        <div class="icon d-flex justify-content-center"> <img class="img-fluid" style="width: auto; height: 50px" src="img/pamm-arrow-top.svg" /> </div>
                                        <h4 class="title text-info text-center mt-4 font-weight-bold">Return</h4>
                                        <p class="text-center font-weight-lighter">The potential of the Forex market is unlimited. You can earn high returns by investing
                                            in a FOREX investment package without being skilled at trading.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4 p-2">
                                    <div class="icon-box border p-2">
                                        <div class="icon d-flex justify-content-center"> <img class="img-fluid" style="width: auto; height: 50px" src="img/pamm-scale.svg" /></div>
                                        <h4 class="title text-info text-center mt-4 font-weight-bold">Control</h4>
                                        <p class="text-center font-weight-lighter">You can withdraw your profits, or all of your funds, at any moment via your Citicryptopurse Capital Group investor dashboard. You can
                                            also spread your risks by investing in several different FOREX investment packages.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 p-2">
                                    <div class="icon-box border p-2">
                                        <div class="icon d-flex justify-content-center"> <img class="img-fluid" style="width: auto; height: 50px; margin-left:auto; margin-right:auto;" src="img/pamm-mognifier.svg" />
                                        </div>
                                        <h4 class="title text-info text-center mt-4 font-weight-bold">Transparency</h4>
                                        <p class="text-center font-weight-lighter">The FOREX service has undergone a compliance check by an international auditing firm. You
                                            can see the results of the audit for yourself in your Citicryptopurse investor
                                            dashboard.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="kkssks" class="p-3 mt-4" style="background-image: url(img/in-wave-platformbg.jpg);">
                            <div class="container in-wave-18 p-2">
                                <div class="row"data-uk-grid="">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <hr class="d-sm-none" style="margin-top: 10px;">
                                        <h4 class="title text-info"> As a leading global asset manager we
                                            are
                                            <span>dedicated to creating long-term value </span> for our
                                            clients.
                                        </h4>
                                        <p class=""> Aligning our brand with those who
                                            share our values and ambition helps us to strengthen
                                            and build our business around the world. It is also one of the ways that we are able to
                                            support the communities in which we operate.
                                            Our partnerships reflect our belief in continuous development, performance and
                                            sustainable growth – and we aim to inspire excellence in whatever we put our name to.</p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <img class="img-fluid" src="img/in-wave-mockup-5.png" alt="wave-mockup" width="533" height="330">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <section class="p-b-0 p-t-0">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-6"> <img alt="" style="width: 100% !important" src="img/pamm_tmp_1.png"> </div>
                                    <div class="col-lg-6">
                                        <div class="heading-text heading-section mt-5">
                                            <h4 class="tup" style="font-size: 20px">Understanding how the Citicryptopurse FOREX
                                                Program Works</h4>
                                            <p style="font-size: 14px; font-weight: 400">As a Citicryptopurse FOREX investor,
                                                you open a
                                                Citicryptopurse Capital Group FOREX
                                                Account and allocate funds
                                                to your investment Account – this is known as the Manager's Capital. When a FOREX Manager
                                                successfully manages investors' funds by generating a profit, the Manager and the
                                                investor(s) will receive a
                                                Success Fee – a pre-agreed percentage of the investor's share of the profit.
                                                <br> <br>
                                                FOREX Managers trade using invested capital (Manager's Capital) and the funds of any
                                                investors in the account. Simply put, any profits and losses generated on the FOREX
                                                Manager's Account will be shared between all accounts that are invested in the FOREX
                                                Manager on a proportional basis.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
                        <section id="cta" class="cta">
                            <div class="container">

                                <div class="text-center">
                                    <h3>Want To Become A Citicryptopurse Forex Investor?</h3>
                                    <p>The Citicryptopurse FOREX account Managers and Investors' capital are all invested in the Manager’s account. Their shares of the total investment and therefore their potential share of any profit/ losses are based on the amount of capital they invest. If a Manager is in profit when positions on the FOREX Manager account are closed and the account balance increases, the profit will be distributed between all Investors in the account based on their investments.</p>
                                    <a class="cta-btn" href="/register">Open An Account</a>
                                </div>

                            </div>
                        </section>

                    </div>
                </section>
            </div>


        </section>

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="row">

                            <div class="col-lg-3 col-md-12 footer-links">
                                <h4>Links</h4>
                                <ul>
                                    <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="/#about">About us</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="/#services">Services</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="/terms">Terms Of Use</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="/privacy">Privacy Policy</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-9 col-md-12 footer-info">
                                <h3>Disclosure</h3>
                                <p>The performance data quoted represents past performance. Past performance is a guarantee of future results. The Stratagy used here as significantly given a positive long-term performance boost even in the stock stock market volatility associated with the COVID-19 pandemic. Investment return and principal value is stable so as an investor's shares upon redemption is worth more than their original cost.</p>
                                <p>
                                    We provide guarantees, success and track record in the asset management and investments market.Take control with our all-in-one multiple investment packages such as Forex PAMM/MAM investment package, Cryptocurrency, Real estate (property) investments and more.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Citicryptopurse</strong>. All Rights Reserved
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>




    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/counterup/counterup.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>



    <script>
        $('.venobox_custom').venobox({
            framewidth: '500px', // default: ''
            frameheight: '200px', // default: ''
            border: '5px', // default: '0'
            //bgcolor    : '#fff',                             // default: '#fff'
            numeratio: true, // default: false
            infinigall: true, // default: false
            share: ['facebook', 'twitter', 'download'] // default: []
        });

        $(document).on('click', '.closeme', function() {
            $('.vbox-close').trigger('click');
        });

    </script>

    <!-- <script src="../code.tidio.co_443/ysoaoqfizarvwjskukbsitbr2en4w2iv.js" async></script> -->


</body>


<!-- Mirrored from citicryptopurse.com/forex by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Aug 2024 10:21:46 GMT -->
</html>
