<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from citicryptopurse.com/login by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Aug 2024 10:21:37 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Login Citicryptopurse</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/css/signup_style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&amp;display=swap" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top bg-dark">
        <div class="container-fluid ">

            <div class="row justify-content-center">
                <div class="col-xl-10 d-flex align-items-center justify-content-end">

                    <a href="/" class="logo mr-auto"><img src="assets/img/logo.png" style="width:150px; height:50px;" alt="" class="img-fluid"></a>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/#about">About</a></li>
                            <li><a href="/register">Signup</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="/#services">Services</a></li>
                            <li class="drop-down"><a href="#">Markets</a>
                                <ul>
                                    <li><a href="/forex">Forex</a></li>
                                    <li><a href="/stocks">Stocks</a></li>
                                    <li><a href="/crypto-trading">Cryptocurrency</a></li>
                                </ul>
                            </li>
                            <li><a href="/copy-trader">Copy Trading</a></li>
                            <li><a href="#contact">Contact</a></li>

                        </ul>
                    </nav>
                    <!-- .nav-menu -->

                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <main id="main">
        <section class="inner-page" style="background: linear-gradient(to right, #17a2b8, #28a745);">
            <div class="container-fluid">

                <div class="row justify-content-center">

                    <div class="col-xl-10">
                        <div class="row">

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 mx-auto text-center">
                                        <div class="card p-2 py-4" style="background:#191919;">
                                     <form class="box mx-auto"action="/login" method="post">
                                                <h1>Login</h1>
                                                <p class="text-muted">Please enter your login and password!</p>
                                                <input type="text" name="email" id="email" placeholder=" Email">
                                                <span class="error email"></span>
                                                <input type="password" name="password" id="password" placeholder="Password" >
                                                <span class="error password"></span>
                                                <a class="forgot text-muted venobox_custom" data-overlay="rgba(0,0,0,0.7);" data-vbtype="inline" title="Forgot Password" href="#"><span id="fpt">Forgot password?</span></a>
                                                <div class="my-2">
                                                    <button id="lgn_btn" class="btn bg-primary" type="submit" >Login</button></div>

                                                <!-- <input type="submit" name="" value="Login" href="#" > -->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </section>

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="row">

                            <div class="col-lg-3 col-md-12 footer-links">
                                <h4>Links</h4>
                                <ul>
                                    <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="/#about">About us</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="/#services">Services</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="/terms">Terms Of Use</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="/privacy">Privacy Policy</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-9 col-md-12 footer-info">
                                <h3>Disclosure</h3>
                                <p>The performance data quoted represents past performance. Past performance is a guarantee of future results. The Stratagy used here as significantly given a positive long-term performance boost even in the stock stock market volatility associated with the COVID-19 pandemic. Investment return and principal value is stable so as an investor's shares upon redemption is worth more than their original cost.</p>
                                <p>
                                    We provide guarantees, success and track record in the asset management and investments market.Take control with our all-in-one multiple investment packages such as Forex PAMM/MAM investment package, Cryptocurrency, Real estate (property) investments and more.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Citicryptopurse</strong>. All Rights Reserved
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


    <!-- <aside id="fp" class="modal fade">
        <form method="post" class="col-md-10 mx-auto py-2 mt-4 text-dark">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group first">
                        <label for="email">Email Address</label>
                        <input id="femail" type="email" name="email" class="form-control" placeholder="Account Email" oninput="fill(this.value)">
                    </div>
                </div>
            </div>

            <button onclick="fpw()" type="button" class="btn px-5 btn-primary border-0 closeme">Proceed</button>
            <button type="button" class="btn btn-danger border-0 closeme">Close</button>
        </form>
    </aside> -->
    <!-- <input type="hidden" id="fill"> -->

    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/counterup/counterup.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>



    <script>
        $('.venobox_custom').venobox({
            framewidth: '500px', // default: ''
            frameheight: '200px', // default: ''
            border: '5px', // default: '0'
            //bgcolor    : '#fff',                             // default: '#fff'
            numeratio: true, // default: false
            infinigall: true, // default: false
            share: ['facebook', 'twitter', 'download'] // default: []
        });

        $(document).on('click', '.closeme', function() {
            $('.vbox-close').trigger('click');
        });

    </script>
    <script src="../unpkg.com/sweetalert%402.1.2/dist/sweetalert.min.js"></script>
    <p></p> 
      
    <script>
        const form = document.querySelector('form');
         const emailError = document.querySelector('.email.error');
         const passwordError = document.querySelector('.password.error');
         form.addEventListener('submit', async (e) => {
           e.preventDefault();
           // reset errors
           emailError.textContent = '';
           passwordError.textContent = '';
           // get values
           const email = form.email.value;
           const password = form.password.value;
           try {
             const res = await fetch('/login', { 
               method: 'POST', 
               body: JSON.stringify({ email, password }),
               headers: {'Content-Type': 'application/json'}
             });
             const data = await res.json();
             // console.log(data);
             if (data.errors) {
               emailError.textContent = data.errors.email;
               passwordError.textContent = data.errors.password;
             }
             if (data.user) {
               location.assign('/adminRoute');
             }
           }
           catch (err) {
             console.log(err);
           }
         });
       
       
       </script>

    <!-- <script src="../code.tidio.co_443/ysoaoqfizarvwjskukbsitbr2en4w2iv.js" async></script> -->

</body>


<!-- Mirrored from citicryptopurse.com/login by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Aug 2024 10:21:42 GMT -->
</html>
