
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from citicryptopurse.com/privacy by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Aug 2024 10:21:47 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Privacy Policy Citicryptopurse</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/css/signup_style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&amp;display=swap" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top bg-dark">
        <div class="container-fluid ">

            <div class="row justify-content-center">
                <div class="col-xl-10 d-flex align-items-center justify-content-end">

                    <a href="/" class="logo mr-auto"><img src="assets/img/logo.png" style="width:150px; height:50px;" alt="" class="img-fluid"></a>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/#about">About</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Signup</a></li>
                            <li><a href="/#services">Services</a></li>
                            <li class="drop-down"><a href="#">Markets</a>
                                <ul>
                                    <li><a href="/forex">Forex</a></li>
                                    <li><a href="/stocks">Stocks</a></li>
                                    <li><a href="/crypto-trading">Cryptocurrency</a></li>
                                </ul>
                            </li>
                            <li><a href="/copy-trader">Copy Trading</a></li>
                            <li><a href="/#contact">Contact</a></li>

                        </ul>
                    </nav>
                    <!-- .nav-menu -->

                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->

    <main id="main">
        <section class="inner-page">
            <div class="container-fluid">

                <section id="faq" class="faq">
                    <div class="container">

                        <div class="section-title" data-aos="fade-up">
                            <h2>Privacy Policy</h2>
                        </div>

                        <section class="mb-1 p-2">

                            <h5 class="bold">Introduction</h5>
                            <p class="text-muted" id="f1">
                                Our Company is committed to protecting and respecting your privacy. This policy together with our Website Terms of Service and any other documents referred to herein sets out the basis on which any personal information we collect from you, or that you provide to us, will be processed by us. Being transparent and providing accessible information to our users about how we use your personal data is a key element of the Data Protection Act 1998 (DPA) and the EU General Data Protection Regulation (GDPR). This Privacy Policy applies to information we collect when you access or use our products and services such as our websites, and online services, or when you otherwise interact with us. Please read the following carefully to understand our views and practices regarding your personal information and how we will treat it. By visiting the Website you are accepting and consenting to the practices described in this policy.
                            </p>
                            <h5 class=" bold">Information We Collect From You</h5>
                            <p class=" text-muted" id="f2">
                                You may be asked to provide your personal information anytime you use Our Service. We process personal data about you as necessary to operate our business, and provide the services you use, meet our contractual and legal obligations, or otherwise fulfill the legitimate interests described in the “Uses Made of Information” sections below.
                            </p>
                            <h5 class=" bold">Information You Provide Us</h5>
                            <p class="  text-muted" id="f3">Personal information upon Registration. Personal information on profile section of Dashboard. Payment information such as cryptocurrency wallet addresses. Personal information such as email and fullname when you contact us.Personal information upon Registration. Personal information on profile section of Dashboard. Payment information such as cryptocurrency wallet addresses. Personal information such as email and fullname when you contact us.
                            </p>
                            <h5 class=" bold">Uses Of The Information You Provide</h5>
                            <p class=" text-muted" id="f4">
                                To operate and maintain the Services, for example, to authenticate you when you log in, and to process your transactions. To communicate with you, directly, including for customer support, to respond to your requests and for assistance and customer service, to provide you with updates and other information relating to Our Service. To carry out our obligations arising from any contracts entered into between us. To find and prevent fraud and anti-money laundering cases. For compliance purposes, including enforcing our Terms of Service, or other legal rights, or as may be required by applicable laws and regulations or requested by any judicial process or governmental agency.
                            </p>
                            <h5 class=" bold">What We Do Not Do</h5>
                            <p class=" text-muted" id="f5">
                                We do not sell or trade your personal data. We do not transfer your personal data to any third-party. We do not make decision based solely on automated processing, including profiling.
                            </p>
                            <h5 class=" bold">Commercial Messages (The CAN-SPAM Act)</h5>
                            <p class=" text-muted" id="f6">
                                The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violation
                            </p>
                            <h5 class=" bold">We collect your email address in order to:</h5>
                            <p class=" text-muted" id="f7">
                                Send information, respond to inquiries, and/or other requests or questions. Process orders and to send information and updates pertaining to orders. We may also send you additional information related to your product and/or service.
                            </p>
                            <h5 class=" bold">To be in accordance with CAN SPAM we agree to the following:</h5>
                            <p class="  text-muted" id="f8">
                                Not use false, or misleading subjects or email addresses. Honor opt-out/unsubscribe requests quickly.
                            </p>
                            <h5 class=" bold">Where We Store Your Personal Information And How Long We Store It.</h5>
                            <p class=" text-muted" id="f9">
                                All information you provide us with is stored on our provider's cloud-servers in the Russian Economic Area. We store the information we collect about you for as long as is necessary for the purposes for which we originally collected it, unless a longer retention period is required or permitted by applicable law.
                            </p>
                            <h5 class=" bold">Security</h5>
                            <p class=" text-muted" id="f10">
                                We regularly monitor our systems for possible weaknesses and attacks. The technologies we use are designed to provide a level of security appropriate to the risk of processing your personal information. We have proven many times that your data is safe with us. Unfortunately, the transmission of information via the Internet is not completely secure. Although we will do our best to protect your personal information, we cannot guarantee the security of your data transmitted to our site. Any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorized access. We can only guarantee that we will do our best to keep your data safe.
                            </p>
                            <h5 class=" bold">Your Rights</h5>
                            <p class=" text-muted" id="f11">
                                Rights to access and control your personal information.Right to change or correct information. Right to delete your personal information.
                            </p>
                            <h5 class=" bold">Changes To Our Privacy Policy</h5>
                            <p class=" text-muted" id="f12">
                                Any changes we make to our privacy policy in the future will be posted on this page and, where appropriate, notified to you by email. Please check back frequently to see any updates or changes to our privacy policy.
                            </p>

                        </section>

                    </div>
                </section>
            </div>


        </section>

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="row">

                            <div class="col-lg-3 col-md-12 footer-links">
                                <h4>Links</h4>
                                <ul>
                                    <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="/#about">About us</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="/#services">Services</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="/terms">Terms Of Use</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="/faq">FAQ</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-9 col-md-12 footer-info">
                                <h3>Disclosure</h3>
                                <p>The performance data quoted represents past performance. Past performance is a guarantee of future results. The Stratagy used here as significantly given a positive long-term performance boost even in the stock stock market volatility associated with the COVID-19 pandemic. Investment return and principal value is stable so as an investor's shares upon redemption is worth more than their original cost.</p>
                                <p>
                                    We provide guarantees, success and track record in the asset management and investments market.Take control with our all-in-one multiple investment packages such as Forex PAMM/MAM investment package, Cryptocurrency, Real estate (property) investments and more.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Citicryptopurse</strong>. All Rights Reserved
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>




    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/counterup/counterup.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>



    <script>
        $('.venobox_custom').venobox({
            framewidth: '500px', // default: ''
            frameheight: '200px', // default: ''
            border: '5px', // default: '0'
            //bgcolor    : '#fff',                             // default: '#fff'
            numeratio: true, // default: false
            infinigall: true, // default: false
            share: ['facebook', 'twitter', 'download'] // default: []
        });

        $(document).on('click', '.closeme', function() {
            $('.vbox-close').trigger('click');
        });

    </script>


    <!-- <script src="../code.tidio.co_443/ysoaoqfizarvwjskukbsitbr2en4w2iv.js" async></script> -->

</body>


<!-- Mirrored from citicryptopurse.com/privacy by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Aug 2024 10:21:47 GMT -->
</html>
